body{
    margin-top:100px;
}




button {
    font-weight: bolder;

    border: 2px solid lightgray;
    border-radius: 115px;

    background: rgb(255, 255, 255);

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;



}